[project]
	description = This is my first code
[access "refs/*"]
	owner = group user/papertiger8848 (papertiger8848)
[access "refs/for/refs/*"]
	read = group user/papertiger8848 (papertiger8848)
	push = group user/papertiger8848 (papertiger8848)
	label-Code-Review = -2..+2 group user/papertiger8848 (papertiger8848)
	label-Verified = -1..+1 group user/papertiger8848 (papertiger8848)
	rebase = group user/papertiger8848 (papertiger8848)
	removeReviewer = group user/papertiger8848 (papertiger8848)
	submit = group user/papertiger8848 (papertiger8848)
[access "refs/heads/*"]
	read = group user/papertiger8848 (papertiger8848)
	create = group user/papertiger8848 (papertiger8848)
	push = +force group user/papertiger8848 (papertiger8848)
	pushMerge = group user/papertiger8848 (papertiger8848)
[access "refs/tags/*"]
	push = +force group user/papertiger8848 (papertiger8848)
	pushTag = group user/papertiger8848 (papertiger8848)
	pushSignedTag = group user/papertiger8848 (papertiger8848)
